@use '../../Scss/Variables.scss' as *;

.dashboard-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .recipe-action-button {
        button {
            border: none;
            padding: 7px 15px;
            height: 38px;
            font-size: 16px;
            background-color: $primary-color ;
            color: #fff;
            border-radius: 5px;
        }
    }

    .filter-section {
        display: flex;
        align-items: center;
        gap: 20px;

        .search-bar {
            padding: 7px 15px;
            border: 1px solid $light-gray;
            color: $light-gray;
            border-radius: 5px;


            input {
                border: none;
                padding: 0px 11px;
                background-color: transparent;

                &:focus{
                    border: none;
                    box-shadow: none;
                }

                &::placeholder {
                    color: $light-gray;
                    font-size: 16px;
                }
            }
        }


        .ant-radio-group {
            display: flex;

            .ant-radio-button-wrapper {
                // border: 1px solid $light-gray;
                // color: $light-gray;
                font-size: 16px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;

                // &-checked {
                //     border: 1px solid $primary-color;
                //     color: $primary-color;
                // }

                // &::before {
                //     display: none;
                // }
            }
        }
    }
}