@use '../../Scss/Variables.scss' as *;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'urbanist', sans-serif;
}

body{
    background-color: $light-gray-bg;
}

.content-area{
    display: flex;
    flex-direction: row;
    padding: 70px 0;
}