@use '../../Scss/Variables.scss' as *;


.ant-modal.notifications-modal {
    width: 50% !important;

    .list-buttons {
        display: flex;
        flex-direction: row;
        gap: 10px;

    }
}

@media screen and (max-width: $mobile-size) {
    .ant-modal.notifications-modal {
        width: 100% !important;
    }
}

@media screen and (min-width: $mobile-size) and (max-width: $tablet-size) {
    .ant-modal.notifications-modal {
        width: 75% !important;
    }
}