@use '../../Scss/Variables.scss' as *;

.create-user-modal {
    width: 30% !important;

    .ant-modal-content {

        .create-user-form {
            display: flex;
            flex-direction: column;

            .user-form-item {
                width: 100%;
                display: flex;
                align-items: flex-start;
                flex-direction: column;

                .ant-form-item-row {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    width: 100%;

                    .ant-form-item-control {
                        width: 100%;

                        .ant-input {
                            padding: 7px 5px;
                        }

                        .ant-select-selector {
                            padding: 7px 5px;
                            min-height: 38px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-size) {
    .ant-modal.create-user-modal {
        width: 100% !important;


        .ant-modal-footer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-top: 20px;
        }
    }
}